<h1><%= @channel.name %></h1>

<% focus_article = @articles.first %>
<iframe id='iframe_window' src='<%=focus_article.url%>' width="720" height="720"></iframe>

<% @articles.each do |article| %>
<%= link_to "#{article.title}", article.url %><br><br>

<% end %>
